<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Book - Place Your Bets</title>
  <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.7.4-->

  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="node_modules/bulma/0.5.1/css/bulma.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />


</head>

<body>

  <section class="hero is-info is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img src="/images/logo.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right">
                <ul>
                  <li class="is-active"><a href="../">Home</a></li>
                  <li><a href="../mlb">Baseball</a></li>
                  <li><a href="../nba">Basketball</a></li>
                  <li><a href="../nhl">Hockey</a></li>
                  <li><a href="../nfl">Football</a></li>
                  <li><a href="../">Soccer</a></li>
                  <li><a href="../signup">Sign Up Here!</a></li>
                  <li><a href="../login">Login</a></li>

                </ul>

              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </section>

  {{{body}}}

  <footer class="footer">
    <div class="container">
      <div class="columns">

        <div class="column is-3">
          <h2><strong>Category</strong></h2>
          <ul>
            <li><a href="../signup.handlebars">Home</a></li>
            <li><a href="#">Baseball</a></li>
            <li><a href="#">Basketball</a></li>
            <li><a href="#">Hockey</a></li>
            <li><a href="#">Rugby</a></li>
            <li><a href="#">Soccer</a></li>
            <li><a href="#">Tennis</a></li>
            
          </ul>
        </div>

      </div>
      <div class="content has-text-centered">

        <div class="control level-item">
          <a href="#">
            <div class="tags has-addons">
              <span class="tag is-dark">The Book - Place Your Bets</span>
              <span class="tag is-info">MIT license</span>
            </div>
          </a>
        </div>
      </div>
    </div>

  </footer>

</body>

<script src="/public/js/bulma.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>

</html>