<link rel="stylesheet" href="./css/background.css">
<div class="hero-body main-block-thing">
  <div class="container has-text-centered">
    <div class="slider-content animated zoomIn">
      <div>
        <p class="title is-1 main-text">Welcome to The Book</p>
        <p class="subtitle is-3 main-text">Place Your Bets</p>
      </div>
    </div>
  </div>
</div>


<section class="container sports-main-container">
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Baseball</p>
          <figure class="image is-4by3">
            <img src="/images/baseball.jpg" alt="Description">
          </figure>
        </article>
      </div>
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Basketball</p>
          <figure class="image is-4by3">
            <img src="/images/basketball.jpg" alt="Description">
          </figure>
        </article>
      </div>
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Hockey</p>
          <figure class="image is-4by3">
            <img src="/images/hockey.jpg" alt="Description">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Rugby</p>
          <figure class="image is-4by3">
            <img src="/images/rugby.jpg" alt="Description">
          </figure>
        </article>
      </div>
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Soccer</p>
          <figure class="image is-4by3">
            <img src="/images/soccer.jpg" alt="Description">
          </figure>
        </article>
      </div>
      <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
          <p class="title">Tennis</p>
          <figure class="image is-4by3">
            <img src="/images/tennis.jpg" alt="Description">
          </figure>
        </article>
      </div>
    </div>


  </div>

</section>