<h2>Current Odds</h2>
<p>Baseball</p>
<table style="width:100%">
    <tr>
        <th>Home</th>
        <th>Game Time</th>
        <th>Away</th>
    </tr>
    <tr>
        <td>Cleveland Indians</td>
        <td></td>
        <td>Chicago White Sox</td>
    </tr>
    <tr>
        <td>1.5</td>
        <td>Points</td>
        <td>-1.5</td>
    </tr>
    <tr>
        <td>156</td>
        <td>MoneyLine</td>
        <td>-166</td>
    </tr>
</table>

<table style="width:100%">
    <tr>
        <th colspan="3">Total</th>
    </tr>
    <tr>
        <td>Over</td>
        <td>9</td>
        <td>-115</td>
    </tr>
    <tr>
        <td>Under</td>
        <td>9</td>
        <td>-115</td>
    </tr>

</table>